.root {
  height: 100vh;
  margin: 20px 10px 20px 10px;
}
.divider {
  display: block;
}
.card {
  &__item {
    width: 350px;
    margin-right: 0px;
  }
}

.basic-block {
  display: flex;
  justify-content: center;

  &__text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    &-input {
      width: 900px;
      height: 200px;
    }
  }

  &__name {
    width: 150px;
  }
}

.input {
  width: 50%;
  margin: 5vw;
  &_receipt {
    width: 100%;
    height: auto;
  }
}
.buttons-tab {
  margin-top: 10px;
  display: flex;

  &_btn {
    margin-right: 10px;
  }
}

// --homepage--

.homepage {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;

  &__slider {
    margin: 0px 10px 0px 140px;
  }
  &_img {
    position: absolute;
    left: -150px;
    top: -80px;
    max-width: 400px;
    z-index: 0;
    opacity: 95%;
    animation: 30s linear 0s infinite alternate rolling;
  }
  &__list-name {
    font-family: "Mr De Haviland", cursive;
    font-size: 70px;
    font-weight: 400;
    color: rgba(197, 193, 193, 0.9);
  }

  // -----Navigation sticker ----

  &_nav_sticker {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid c;
    position: fixed;
    top: 60px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 195px;
    &_header {
     
      margin-top: 75px;
      margin-left: 240px;
      font-family: "Mr De Haviland", cursive;
      font-weight: 400;
      font-size: 140px;
      color: rgba(121, 162, 233, 0.7);
      text-shadow: 15px 13px 8px rgba(8, 8, 8, 0.1);
    }
    &_button {
      position: fixed;
      left: 200px;
    }
    &_login {
      position: fixed;
      top: 80px;
      left: 1330px;
      width: 100px;
      height: 100px;
    }
    &_favorites {
      position: fixed;
      top: 80px;
      left: 1400px;
      width: 100px;
      height: 100px;
    }
  }
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360 * 5deg);
  }
}

// --blog--

.blog {
  margin: 30px 0px 0px 10px;
  display: flex;
  &__history {
    display: flex;
    position: relative;
    top: 250px;
    left: 250px;
    border: 1px solid rgba(85, 136, 223, 0.7);
    border-radius: 20px;

    height: 350px;
    width: 900px;
    -webkit-box-shadow: 10px 9px 15px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 9px 15px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 9px 15px -5px rgba(0, 0, 0, 0.25);

    &__header {
      position: absolute;

      bottom: 30px;
      font-family: "Mr De Haviland", cursive;
      font-size: 240px;
      font-weight: 400;
      color: rgba(197, 193, 193, 0.7);
    }
    &__subheader {
      position: absolute;
      top: 50px;
      left: 10px;
      font-size: 40px;
      color: rgb(0, 0, 0);
      right: 20px;
    }
    &__teller {
      position: absolute;
      bottom: 60px;
      right: 50px;
      border-radius: 50%;
      border: 1px solid black;
      width: 150px;
      height: 150px;
      object-fit: cover;
      &__name {
        position: absolute;
        bottom: 210px;
        right: 45px;
        font-size: 25px;
        color: white;
      }
    }
    &__image {
      object-fit: cover;
      max-width: 600px;
    }
    &__parag {
      position: absolute;
      width: 600px;
      margin: 140px 10px 0px 30px;
    }
  }
}
