.app-name{
    text-align: center;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;

}
.current-page{
    display: flex;
    margin-left: 5%;
    &_nav{
        margin-left: 55%;
        display: flex;
        padding-top: 25px;
    }
}
.buttons-common{
    background-color: white;
    border: 0 solid white;
    &:hover{
        background-color: rgb(232, 238, 250);
        border-radius: 50%;
    }
}
.add-receipt__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.basic-block{
    display: flex;
    justify-content: center;

    &__text{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        
        &-input{
            width: 900px;
            height: 200px;
        }     
       
    }
    
    &__name{
        width: 150px
    }

}
.unordered-list{
    list-style: none;
    
}