.app-name {
  text-align: center;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #1976d2;
}
.root{
  margin: 20px 10px 20px 10px;
}
.button_new {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  }

.add-receipt__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basic-block {
  display: flex;
  justify-content: center;

  &__text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    &-input {
      width: 900px;
      height: 200px;
    }
  }

  &__name {
    width: 150px;
  }
}
.unordered_list {
  
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
  &_item {
    padding: 10px;
    list-style: none;
  }
}
.input {
  
  width: 50%;

  margin: 5vw;
  &_receipt {
    width: 100%;
    height:auto
    
  }
}
.buttons-tab{
  margin-top: 10px;
  display: flex;

  &_btn{
    margin-right: 10px;
  }
}